


<h1>Listing Beers</h1>

<%= render 'list', beers: @beers %>

<br>
<% if current_user %>
<%= link_to 'New Beer', new_beer_path, class:"btn btn-primary"%>
<% end %>
<td><%= link_to 'List of breweries', breweries_path, class:"btn btn-primary"%></td>
